* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
      font-family: Roboto, sans-serif;
}
body{
  background-color: #eff0ff;
}
.container {
  width: 100%;
  /* height: 100vh; */
  padding: 30px 50px;
}
.navbar {
  display: flex;
  gap: 40px;
}
.logo img {
  margin-left: 30px;
  width: 180px;
  height: 40px;
}
.list ul {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  list-style: none;
  /* padding: 15px 100px; */
  color: rgb(58, 58, 58);
  font-size: 19px;
  cursor: pointer;
}
.header-container {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
}
.right-side{
    padding: 0px 20px;
}
.right-side p {

  font-size: 21px;
  color: rgb(104, 81, 255);
}
.right-side h1 {
  font-size: 54px;
}
span {
  color: #000;
  font-weight: 100;
  font-size: 17px;
  margin-top: 30px;
  
}
.resume{
    height: 40%;
    margin-top: 40px;
    width: 100%;
    border: 3px dashed rgb(104, 81, 255);
    border-radius: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;
padding: 60px 10px;
}
.resume p{
 text-align: center;
 align-items: center;
 justify-content: center;
}
.resume span{
    color: rgb(80, 80, 80);
    font-size: 14px;
    margin-top: 10px;
}
.resume button{
    padding: 7px 40px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color:rgb(104, 81, 255);;
    color: #fff;
    font-size: 17px;
}
.left-side img{
   width: 90%;
   align-items: center;
}
.left-side{
    width: 50%;
}



.work {
  display: flex;
  border-radius: 20px;
  margin-top: 30px;
  width: 100%;
  padding: 20px 20px;
  height: 85vh;
}
.work div {
  display: flex;
  width: 50%;
  height: 80vh;
  border-radius: 20px;
}
.gif img {
  width: 100%;
}
.gif {
  width: 50%;
}
.worktext {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}
.div {
  margin-top: 6px;
  display: flex;
  gap: 20px;
  padding: 10px 10px;
}
.workbtn {
  width: 100%;
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
}
.worktext p{
  font-size: 22px;
}
.worktext h1{
  font-size: 40px;
}
.worktext h2{
  font-size: 30px;
}
.powered{
  text-align: center;
  margin-top: 25%;
  padding: 10px 40px;
}
.powered h1{
  font-size: 50px;
}
.powered p{
  font-size: 25px;
}
.name{
  padding: 10px 40px;
  /* text-align: center; */
  /* align-items: center; */
  justify-content: center;
}
.name p{
  color: #1f1f1f;
  font-size: 18px;
}
.name h1{
  text-align: left;
  font-size: 25px;
}
.score {
  text-align: center;
  padding: 40px;
  font-family: Arial, sans-serif;
}

.score h1 {
  font-size: 28px;
  font-weight: bold;
}

.score p {
  color: #202020;
  font-size: 20px;
}

.upload-box {
  width: 44%;
  height: 254px;
  margin: 40px auto 0;
  border: 1px dashed rgb(104, 81, 255);
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 10px; */
  padding: 20px;
  position: relative;
}

.upload-box i {
  font-size: 25px;
  display: flex;
  color: rgb(84, 84, 85);
}

.upload-box button {
  background-color: rgb(104, 81, 255);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.upload-box span {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  margin-top: 15px;
}

.privacy {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #333;
  margin-top: 5px;
}
.arro{
  color: rgb(104, 81, 255);
}

.footer div {
  width: 40%;
  /* padding: 40px 40px; */
}
.footer {
  width: 100%;
  background: linear-gradient(rgb(77, 59, 219) 0%, rgb(151, 71, 255) 100%);
  margin-top: 7%;
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
}
.contact {
  padding: 80px 40px;
  position: relative;
  color: #fff;
}

.Hiring-mine {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Hiring-mine img {
  width: 150px;
}
.Hiring-mine p {
  color: #fff;
  gap: 30px;
  font-weight: 500;
}
.heart {
  margin-bottom: 10px;
}

.contact ul {
  list-style: none;
  top: 20px;
  right: 30px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 6px;
}
.contact h3 {
  top: 3px;
  right: 140px;
  position: absolute;
}

.follow {
  margin-top: 30px;
  color: #fff;
}

.footer-end {
  margin-top: 1px;
  text-align: center;
  width: 100%;
  background: linear-gradient(rgb(86, 118, 281) 0%, rgb(141, 61, 240) 90%);
  color: #fff;
  height: 60px;
  padding: 20px 0px;
}
.icons {
  width: 100%;
}
.icons i {
  margin: 20px;
  font-size: 25px;
  justify-content: flex-start;
  cursor: pointer;
  margin-top: 10px;
  gap: 30px;
}








@media only screen and (max-width:650px) {
    .container {
    width: 100%;
    height: 100vh;
    padding: 10px 10px;
  }
  html{
    width: 100%;
  }
  .navbar {
    display: flex;
  }
  .logo {
    width: 100px;
    height: 20px;
  }
  .logo img {
    width: 100px;
    height: 20px;
  }
  .list ul {
    flex-direction: row;
    display: flex;
    padding: 0;
    font-size: 12px;
  }
  ul input {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .text h1 {
    text-align: center;
    color: #6851ff;
    font-size: 40px;
    display: flex;
  }
  .text p {
    margin-top: 20px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .text input {
    width: 80%;
    margin-top: 23px;
    height: 20px;
    border-radius: 6px;
  }
  .text {
    width: 100%;
    height: 232px;
  }
    .right-side{
      padding: 0;
    }
  .right-side h1{
    font-size: 19px;
  }
   .left-side {
    width: 100%;
   }
  .left-side img{
    width: 100%;
    
  }
}