* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  /* height: 100vh; */
  padding: 30px 50px;
}
.navbar {
  display: flex;
  gap: 40px;
}
.logo img {
  margin-left: 30px;
  width: 180px;
  height: 40px;
}
.list ul {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  list-style: none;
  padding: 15px 100px;
  color: rgb(58, 58, 58);
  font-size: 19px;
  cursor: pointer;
}
.header-container {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
}
.right-side{
    padding: 0px 20px;
}
.right-side p {

  font-size: 21px;
  color: rgb(104, 81, 255);
}
.right-side h1 {
  font-size: 54px;
}
span {
  color: #000;
  font-weight: 100;
  font-size: 17px;
  margin-top: 30px;
  
}
.resume{
    height: 40%;
    margin-top: 40px;
    width: 100%;
    border: 3px dashed rgb(104, 81, 255);
    border-radius: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;
padding: 60px 10px;
}
.resume p{
 text-align: center;
 align-items: center;
 justify-content: center;
}
.resume span{
    color: rgb(80, 80, 80);
    font-size: 14px;
    margin-top: 10px;
}
.resume button{
    padding: 7px 40px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color:rgb(104, 81, 255);;
    color: #fff;
    font-size: 17px;
}
.left-side img{
   width: 90%;
   align-items: center;
}
.left-side{
    width: 50%;
}



.work {
  display: flex;
  border-radius: 20px;
  margin-top: 30px;
  width: 100%;
  padding: 20px 20px;
  height: 85vh;
}
.work div {
  display: flex;
  width: 50%;
  height: 80vh;
  border-radius: 20px;
}
.gif img {
  width: 100%;
}
.gif {
  width: 50%;
}
.worktext {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}
.div {
  margin-top: 6px;
  display: flex;
  gap: 20px;
  padding: 10px 10px;
}
.workbtn {
  width: 100%;
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
}
.worktext p{
  font-size: 22px;
}
.worktext h1{
  font-size: 40px;
}
.worktext h2{
  font-size: 30px;
}
.powered{
  text-align: center;
  margin-top: 25%;
  padding: 10px 40px;
}
.powered h1{
  font-size: 50px;
}
.powered p{
  font-size: 25px;
}